header {
  background-color: #3498db;
}

.headerContainer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.headerLogo img {
  display: block;
  width: 100%;
  max-width: 75px;
}

.links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  padding-bottom: 3px;
  border-bottom: 2px solid #3498db;
  transition: 0.3s linear;
}

.links a:hover {
  border-bottom: 2px solid white;
}
